{% extends 'base.html' %}

{% block meta %}
<title>Login</title>
{% endblock meta %}

{% block content %}

<div class = "login">

    <h1>Login</h1>

    <form method="POST" action="">
        {% csrf_token %}
        <div class="container text-center">
            
            <div class="row">
                <div class="col">Username: </div>
                <div class="col"><input type="text" name="username" placeholder="Username" class="form-control"></div>
            </div>

            <div class="row">
                <div class="col">Password: </div>
                <div class="col"><input type="password" name="password" placeholder="Password" class="form-control"></div>
            </div>

            <div class="row">
            
                <div class="col"><button><input class="btn login_btn" type="submit" value="Login"></button></div>
            </div>
                
            
                    
            
        </div>
    </form>

    {% if messages %}
        <ul>
            {% for message in messages %}
                <li>{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}     
        
    Belum mempunyai akun? <a href="{% url 'wishlist:register' %}">Buat Akun</a>

</div>

{% endblock content %}